@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
/* :root {
    --primary: rgb(68, 215, 76);
    --menus: rgb(61, 61, 61);
    --menus2: rgb(79, 79, 79);
    --text-color: rgb(32, 81, 1);
    --background: rgb(201, 255, 199);
    --secondary-background: rgb(248, 246, 238);
    --text-color2: rgba(85, 85, 85, 0.719);
    --secondary-font-style : "Lilax", monospace;
    --font-weight-m : 600;
    --shadow: rgba(0, 0, 0, 0.5);
    
} */

:root {
    --primary: rgb(35, 31, 155);
    --secondary: rgb(68, 73, 223);
    --menus: rgb(77, 77, 77);
    --menus2: rgb(40, 130, 116);
    --text-color: rgb(26, 45, 74);
    --buttons: rgb(197, 221, 250);
    --secondary-background: rgb(240, 240, 240);
    --text-color2: rgb(234, 234, 234);
    --secondary-font-style : "Lilax", monospace;
    --oswald-font-style : "Oswald", sans-serif;
    --font-weight-m : 600;
    --shadow: rgba(0, 0, 0, 0.5);
    --cards: rgb(248, 248, 248); 
}

i {
    font-size: 60px;
}
html, body, input {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

body {
    background-color: rgb(240, 240, 240);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


p {
    padding-bottom: 50px;
    padding-top:15px;
    margin:0;
    color: var(--text-color);
    cursor: default;
}

.icon {
    width: 40px;
    height: 40px;
}

.downarrowIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100px;
    margin-bottom: 100px;
}
.downarrowIconImg {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    display: block;
}

#header p { 
    padding-top:45px;
    font-size:20px;
    color:var(--text-color2);
    font-weight: 300;
}

#header-wrapper {
    height: 75px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  transparent; 
    position: absolute;
    z-index: 4;
}

#header {
    height: 75px;
    /* background: linear-gradient(to right, var(--primary), var(--background)); */
    background-color:transparent;
    min-width: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    justify-content: space-between;
    border-bottom: 3px solid var(--shadow);
}

#label {
    position: relative;
    right: 8px;
    display: block;
    border-radius: 0 20px 20px 0;
    background-color: var(--secondary-background);
    padding: 10px;
    padding-right: 15px;
    height: 34px;
    width: 150px;
    text-align: start;
    margin-right: 8vw;
    cursor:default;
}

.nav-btn {
    height: 35px;
    background:transparent;
    border-radius:15px;
    border:none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color2);
    transition: all 0.3s ease;
    font-family: var(--secondary-font-style);
    font-weight: var(--font-weight-m);
    margin-right: 15px;
    padding: 5px 15px;
}

.nav-btn:hover {
    background-color: var(--buttons);
    color:var(--text-color);

}

.logo {
    display:flex;
    align-items: center;
}

#logo-img {
    height: 54px;
    width: 54px;
    margin-left: 1%;
    background-color: var(--secondary-background);
    border-radius: 25px 0 0 25px;

}

.converter-block-background {
    height: 65vh;
    width: 100%;
    background-image: url("../assets/97534e2d-db78-40b3-ad5d-6750cb65c673.jpg");
    background-size:cover;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0 -4px 5px var(--shadow);
    background-attachment: fixed;
}

.converter-block-background h1 {
    margin-top:7rem;
    color: var(--text-color2);
    font-family: var(--oswald-font-style);
    font-size: 35px;
    display:inline-block;
    width: 65%;
    border-bottom: 3px solid var(--secondary-background);
    padding-bottom: 20px;
}

.converter-wrapper {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.converter-card, .content-card {
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;   
 position: relative;
 height: 35vh;
 width: 70vw;
 background-color: rgb(248, 248, 248);  
 border-radius: 50px;  
 padding:20px;
 padding-top: 10px;
 box-shadow: 0 20px 0px var(--menus);
 align-items: center;
 z-index: 3;
 bottom:350px;
}

.converter-card-inner{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}



.content-card {
    flex-direction: column;
    bottom: 0;
    height: 100%;
    width: 45vw;
    box-shadow: none;
    padding-top:30px;
    justify-content: space-between;
    background-color: var(--cards);
    flex-shrink: 1;
    margin-top:0;

}
.content-text {
    font-family: var(--secondary-font-style);
    font-size: 20px;
    text-align: start;
    line-height: 30px;
    white-space: pre-line;
    line-break:loose;
    border-bottom: 1px solid var(--shadow);
    display: block;
    padding: 20px 20px 40px 40px;
    
}
.content-text:last-of-type {
    padding-bottom: 15px;
    border: none;
}
.conv-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.converter-card label {
    font-size: 25px;
}

#card-label {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--secondary-font-style);
    font-weight: var(--font-weight-m);
    background-color: var(--primary);
    margin-bottom: 5vh;
    box-shadow: inset 1px 1px 2px var(--shadow),
                inset -1px -1px 2px var(--shadow);
    border-radius: 10px;
    
}

#card-label-text {
    font-family: var(--secondary-font-style);
    font-weight: var(--font-weight-m);
    font-size: 30px;
    color: var(--text-color2);
}

.currency-input {
    margin-bottom: 5vh;
    height: 10vh;
    width: 100%;
    border-radius: 25px;
    font-size: 25px;
    padding:10px;
    transition: all 0.3s ease;
    margin-top:5px;
    outline: none;
    border: 2px solid black;
    font-family: var(--secondary-font-style);
}
.currency-input:focus {
    border:4px solid var(--primary);
    outline: none;
}

.input-selector-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.input-selector-wrapper select {
    height: 10vh;
    border-radius: 25px;
    margin-top: 5px;
    position: absolute;
    left: 65%;
    width: 25%;
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
    border-left:2px solid var(--shadow);
    text-align: center;
    overflow: visible;
    font-size: 1.5cqw;
    color:var(--text-color);
    font-family: var(--secondary-font-style);
}

.swap-btn {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--cards);
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    
}
.swap-btn.rotate {
    animation: spin 0.4s linear;
}
.swap-btn:hover {
    background-color: var(--buttons);
}

.swap-btn img { 
    display: block;
    transform-origin: center;
    backface-visibility: hidden;
}

.content-background {
 width: 100vw;
 min-height: 60vh;
 display:flex;
 box-sizing: border-box;
 margin-bottom: 150px;
 gap:7vw;
 z-index: 2;
 justify-content: center;
 align-items: center;
}

.content-background.active {
    background-color: var(--primary);
    gap:3vw;
    padding: 30px;
    align-items: start;
}

.content-media {
    width: 25vw;
    height: 60vh;
    border-radius: 40px;
    margin-right: 30px;
    object-fit: cover;
    z-index: 3;
}

.content-card h1 {
    display: block;
    padding:0 15px 10px 15px;
    border-bottom: 1px solid var(--shadow);
}


.viewportAnim {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(50px);

}
.viewportAnim.animated {
    opacity: 1;
    transform: translateY(0);
}

.charts-wrapper {
    width: 100%;
    height: 600px;
    margin-bottom:200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.charts-inner {
    
    width: 70%;
    height: 100%;
    padding: 25px 10px;
    background-color: var(--buttons);
    border-radius: 10px;
}

.chart-btn-wrapper {
    width: 70%;
    height: 50px;
    
}
.chart-btn-wrapper div {
    margin-top: 10px;
    display: flex;
    gap:30px;
}

.chart-btn {
    flex-shrink: 1;
    height: 50px;
    flex-grow:1;   
    font-family: var(--secondary-font-style);
    color:var(--text-color);
    background-color: var(--secondary-background);
    border: 2px solid var(--shadow);
    border-radius: 20px;
    font-size: large;
    transition: all 0.5s ease;

}
.chart-btn.active {
    background-color: var(--primary);
    color:var(--cards);
}

.tooltip {
    background-color: rgba(170, 170, 170, 0.296);
    backdrop-filter: blur(4px);
    padding:15px;
    border-radius: 20px;
    border-right: 3px solid rgba(34, 34, 34, 0.296);
    border-bottom: 3px solid rgba(34, 34, 34, 0.447);
}


.footer-wrapper {
    height: 40vh;
    width: 100%;
    color: var(--text-color2);
}

.footer-background {
    padding:15px;
    background-image: url("../assets/97534e2d-db78-40b3-ad5d-6750cb65c673.jpg");
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-inner p {
    font-size: large;
    color:var(--text-color2);
    padding: 0;
}

.thx  {
    display: block;
    width: 75%;
    border-top: 2px solid var(--text-color2);
    text-align: center;
    padding-top: 20px;
}
.h1foot {
    margin-bottom: 10px;
}

.contacts {
    padding: 2rem 3rem;
    margin:15px;
    backdrop-filter: blur(30px);
    background-color: rgba(181, 220, 255, 0.151);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    gap:2rem;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.cur-flag, .eur-cur, .globe-cur {
    width: 40px;
    height: 27px;
    border-radius: 15px;
    border: 2px solid black;
    position: absolute;
    margin-top:1.6rem;
    left:90%;
    object-fit: cover;
}

.eur-cur, .globe-cur {
    object-fit: cover;
}

.secondary-info {
    color:var(--shadow);
    font-size: 15px;
    margin:0;
    padding:0;
    display: inline-block;
    width: 70%;
    text-align: center;
    padding-top:10px;
    border-top: 1px solid var(--shadow);
   
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(360deg);}
    75%{transform: rotate(400deg);}
    100%{transform: rotate(360deg);}
    
}
